

.share{
    box-shadow: -1px 4px 12px 2px rgba(0,0,0,0.27);
    -webkit-box-shadow: -1px 4px 12px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 4px 12px 2px rgba(0,0,0,0.27);
    width: 100%;
    height: 180px;
    border-radius: 10px;
    
}
.shareProfileImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right:10px;
    margin-left:40px;

}
.shareHr{
    /* margin: 20px; */
    margin: 20px 50px 20px 50px;
  
}
.shareInput{
    width: 90%;
    outline: none;
    border: none;
}
.shareWrapper{
    padding: 10px;
}
.shareTop{
    align-items: center;
    display: flex;

}
.shareBotton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;


}
.shareOption{
    display: flex;
    align-items: center;

    margin-left: 50px;

}
.shareButton{
    border: 0;
    margin-right: 50px;
    height: 30px;
    width: 70px;
    background-color: green;
    border-radius: 5px;
    color: white;
}
.shareButton:hover{
    cursor: pointer;
}
.shareIcon{
    margin-right: 5px;
}