
.post{
    box-shadow: -1px 4px 12px 2px rgba(0,0,0,0.27);
    -webkit-box-shadow: -1px 4px 12px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 4px 12px 2px rgba(0,0,0,0.27);
    margin: 40px 0 40px 0;
    padding: 10px;
    border-radius: 5px;

}
.postTopLeftImg{
    height: 35px;
    width:35px;
    background-color:wheat;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;

}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postUsername{
    font-weight: bold;
    margin-right: 10px;
    
}
.postImeCenter{
    margin-top: 10px;
    width: 100%;
}
.postDate{
    font-size: 14px;
}
.likeIcon{
    height: 30px;
    margin-right: 10px;
}
.likeIcon:hover{
    cursor: pointer;
}
.postBottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.postBottonLeft{
    display: flex;
    align-items: center;
}
.postBottomRight{
    display: flex;
    align-items: center;
}
.postLikeCounter{
    font-style: 32px;
    font-weight: bold;

}

.postCommentText{
    font-style: 32px;
    font-weight: bold;
    border-bottom: 1px solid #000;
}
.postCenter{
    margin: 10px 0;

}
